<!DOCTYPE html>
<html>
<head>
<title>Demo Socket IO</title>
<script src="jquery.js"></script>
<script src ="socket.io/socket.io.js"></script>


<script>
    //call to server --index.js
    var socket =io("http://localhost:3000");
    $(document).ready(function(){
        
    });
</script>

</head>
<body>
hahahahaha
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

</body>
</html>